image: erlang

before_script:
  - git config --global url.http://gitlab.dev.sunninghill.org/shortishly.insteadOf https://github.com/shortishly
stages:
  - build

app:
  stage: build
  script:
    - make tests
  only:
    - master
